
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let json  of jsonData$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{json.title}}
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{json.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>