<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addBookFormOpen= !addBookFormOpen">
    Add Book
  </button>
</div>
  
<div>
  <bookform *ngIf="addBookFormOpen"
  (update)="add($event)"
  (closeEdit)="addBookForm=false"
  [formType]="'Add book'"
  >

  </bookform>
</div>
<mat-accordion *ngIf = "(authService.getUser()| async)" >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books; let i= index">
      <mat-expansion-panel-header>
        <mat-panel-title >
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description >
          {{book.author}}
          <div class = "side">
            
          <button mat-raised-button
         
          color = "primary"
          (click) = "deleteBook(book.id)">
          Delete
          </button>
        </div>
        
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-raised-button
          color = "primary"
          (click) = "editstate[i] = !editstate[i]">
            Edit
          </button>
      <bookform
        [hidden] = "!editstate[i]"
        [title] = "book.title"
        [author] = "book.author"
        [id]= "book.id"
        [formtype]="'Add book'"
        (update)= "update($event) ; editstate[i] = !editstate[i]"
        (closeEdit)= "editstate[i] = !editstate[i]"
      > 

      </bookform>
      <p> {{book.summary}}</p>
     
      
    </mat-expansion-panel>
   
    
  </mat-accordion>
  
  <div>
    <button mat-raised-button
    color = "primary"
    (click) = "nextPage()">
      Next Page
    </button>
  </div>
  